
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: WHITESMOKE;
  border: 1px solid #999;
  float: left;
  font-size: 28px;
  font-weight: bold;
  line-height: 55px;
  height: 55px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 55px;
}

.square2 {
  width: 109px;
}

.square4 {
  background: DIMGRAY;
  color: white;
  font-size: 32px;
  padding-right: 20px;
  text-align: right;
  width: 217px;
}

.symbol {
  background-color: orange;
}

.square:focus {
  outline: none;
}

.square2:focus {
  outline: none;
}

.square4:focus {
  outline: none;
}

.MSize {
  font-size: 32px;
}

.SSize {
  font-size: 18px;
}
